<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="textanalyze/static/test.css">
</head>
<body> 
    <h1>Enter a news article please</h1>
    <form action='/articles' method='get'>
        <textarea name="text" width="100" height="20"></textarea>
        <br>
        
        <input type="submit" value="SUBMIT" class="btn" >

    </form>
</body>
</html>